In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
data = pd.read_csv('cust_seg.csv', low_memory = False, encoding = 'UTF-8')
pd.set_option('display.max_columns', None)

In [4]:
data.head()

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [5]:
data.shape

(1000000, 48)

In [6]:
data.rename(columns = {
    'fecha_dato': 'Date',
    'ncodpers': 'Customer_ID',
    'ind_empleado': 'Employee_Index',
    'pais_residencia': 'Country',
    'sexo': 'Gender',
    'age': 'Age',
    'fecha_alta': 'First_Contact',
    'ind_nuevo': 'New_Customer_Index',
    'antiguedad': 'Customer_Seniority',
    'indrel': 'Relation_Type',
    'ult_fec_cli_1t': 'Last_DatePC',
    'indrel_1mes': 'Customer_Type_Month_Beg.',
    'tiprel_1mes': 'Relation_Type_Month_Beg',
    'indresi': 'Residence_Index',
    'indext': 'Foreigner_Index',
    'conyuemp': 'Spouse_Index',
    'canal_entrada': 'Channel_Join',
    'indfall': 'Deceased_Index',
    'tipodom': 'Address_Type',
    'cod_prov': 'Province_Code',
    'nomprov': 'Province_Name',
    'ind_actividad_cliente': 'Activity_Index',
    'renta': 'Gross_Income_Household',
    'ind_ahor_fin_ult1': 'Saving_Account',
    'ind_aval_fin_ult1': 'Guarantees',
    'ind_cco_fin_ult1': 'Current_Accounts',
    'ind_cder_fin_ult1': 'Derivada_Account',
    'ind_cno_fin_ult1': 'Payroll_Account',
    'ind_ctju_fin_ult1': 'Junior_Account',
    'ind_ctma_fin_ult1': 'Más_particular_Account',
    'ind_ctop_fin_ult1': 'particular_Account',
    'ind_ctpp_fin_ult1': 'particular_Plus_Account',
    'ind_deco_fin_ult1': 'Short-term_Deposits',
    'ind_deme_fin_ult1': 'Medium-term_Deposits',
    'ind_dela_fin_ult1': 'Long-term_Deposits',
    'ind_ecue_fin_ult1': 'e-account',
    'ind_fond_fin_ult1': 'Funds',
    'ind_hip_fin_ult1': 'Mortgage',
    'ind_plan_fin_ult1': 'Pension',
    'ind_pres_fin_ult1': 'Loans',
    'ind_reca_fin_ult1': 'Taxes',
    'ind_tjcr_fin_ult1': 'Credit_Card',
    'ind_valo_fin_ult1': 'Securities',
    'ind_viv_fin_ult1': 'Home_Account',
    'ind_nomina_ult1': 'Payroll',
    'ind_nom_pens_ult1': 'Pensions',
    'ind_recibo_ult1': 'Direct_Debit'
}, inplace = True)

In [7]:
data.head(3)

,Unnamed: 0,Date,Customer_ID,Employee_Index,Country,Gender,Age,First_Contact,New_Customer_Index,Customer_Seniority,Relation_Type,Last_DatePC,Customer_Type_Month_Beg.,Relation_Type_Month_Beg,Residence_Index,Foreigner_Index,Spouse_Index,Channel_Join,Deceased_Index,Address_Type,Province_Code,Province_Name,Activity_Index,Gross_Income_Household,Saving_Account,Guarantees,Current_Accounts,Derivada_Account,Payroll_Account,Junior_Account,Más_particular_Account,particular_Account,particular_Plus_Account,Short-term_Deposits,Medium-term_Deposits,Long-term_Deposits,e-account,Funds,Mortgage,Pension,Loans,Taxes,Credit_Card,Securities,Home_Account,Payroll,Pensions,Direct_Debit
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 48 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Unnamed: 0                1000000 non-null  int64
 1   Date                      1000000 non-null  object
 2   Customer_ID               1000000 non-null  int64
 3   Employee_Index            989218 non-null   object
 4   Country                   989218 non-null   object
 5   Gender                    989214 non-null   object
 6   Age                       1000000 non-null  object
 7   First_Contact             989218 non-null   object
 8   New_Customer_Index        989218 non-null   float64
 9   Customer_Seniority        1000000 non-null  object
 10  Relation_Type             989218 non-null   float64
 11  Last_DatePC               1101 non-null     object
 12  Customer_Type_Month_Beg.  989218 non-null   float64
 13  Relation_Type_Month_Beg   989218 non-null   object
 14  Residence_Index           989218 non-null   object
 15  Foreigner_Index           989218 non-null   object
 16  Spouse_Index              178 non-null      object
 17  Channel_Join              989139 non-null   object
 18  Deceased_Index            989218 non-null   object
 19  Address_Type              989218 non-null   float64
 20  Province_Code             982266 non-null   float64
 21  Province_Name             982266 non-null   object
 22  Activity_Index            989218 non-null   float64
 23  Gross_Income_Household    824817 non-null   float64
 24  Saving_Account            1000000 non-null  int64
 25  Guarantees                1000000 non-null  int64
 26  Current_Accounts          1000000 non-null  int64
 27  Derivada_Account          1000000 non-null  int64
 28  Payroll_Account           1000000 non-null  int64
 29  Junior_Account            1000000 non-null  int64
 30  Más_particular_Account    1000000 non-null  int64
 31  particular_Account        1000000 non-null  int64
 32  particular_Plus_Account   1000000 non-null  int64
 33  Short-term_Deposits       1000000 non-null  int64
 34  Medium-term_Deposits      1000000 non-null  int64
 35  Long-term_Deposits        1000000 non-null  int64
 36  e-account                 1000000 non-null  int64
 37  Funds                     1000000 non-null  int64
 38  Mortgage                  1000000 non-null  int64
 39  Pension                   1000000 non-null  int64
 40  Loans                     1000000 non-null  int64
 41  Taxes                     1000000 non-null  int64
 42  Credit_Card               1000000 non-null  int64
 43  Securities                1000000 non-null  int64
 44  Home_Account              1000000 non-null  int64
 45  Payroll                   994598 non-null   float64
 46  Pensions                  994598 non-null   float64
 47  Direct_Debit              1000000 non-null  int64
dtypes: float64(9), int64(24), object(15)
memory usage: 366.2+ MB

In [9]:
def missing_values(df):
    for column in df.columns:
        missing_count = df[column].isna().sum()
        if missing_count.any():
            print(f'{column} has {missing_count} missing values')

In [10]:
missing_values(data)

Employee_Index has 10782 missing values
Country has 10782 missing values
Gender has 10786 missing values
First_Contact has 10782 missing values
New_Customer_Index has 10782 missing values
Relation_Type has 10782 missing values
Last_DatePC has 998899 missing values
Customer_Type_Month_Beg. has 10782 missing values
Relation_Type_Month_Beg has 10782 missing values
Residence_Index has 10782 missing values
Foreigner_Index has 10782 missing values
Spouse_Index has 999822 missing values
Channel_Join has 10861 missing values
Deceased_Index has 10782 missing values
Address_Type has 10782 missing values
Province_Code has 17734 missing values
Province_Name has 17734 missing values
Activity_Index has 10782 missing values
Gross_Income_Household has 175183 missing values
Payroll has 5402 missing values
Pensions has 5402 missing values

In [11]:
data.drop(columns = ['Unnamed: 0', 'Pensions', 'Last_DatePC', 'Spouse_Index'])

,Date,Customer_ID,Employee_Index,Country,Gender,Age,First_Contact,New_Customer_Index,Customer_Seniority,Relation_Type,Customer_Type_Month_Beg.,Relation_Type_Month_Beg,Residence_Index,Foreigner_Index,Channel_Join,Deceased_Index,Address_Type,Province_Code,Province_Name,Activity_Index,Gross_Income_Household,Saving_Account,Guarantees,Current_Accounts,Derivada_Account,Payroll_Account,Junior_Account,Más_particular_Account,particular_Account,particular_Plus_Account,Short-term_Deposits,Medium-term_Deposits,Long-term_Deposits,e-account,Funds,Mortgage,Pension,Loans,Taxes,Credit_Card,Securities,Home_Account,Payroll,Direct_Debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,1.0,A,S,N,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,I,S,S,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,I,S,N,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,1.0,I,S,N,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,1.0,1.0,A,S,N,KFC,N,1.0,28.0,MADRID,1.0,55516.98,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1
999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,1.0,1.0,A,S,N,KFC,N,1.0,15.0,"CORUÑA, A",1.0,75654.84,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,1.0,1.0,A,S,N,KFC,N,1.0,15.0,"CORUÑA, A",1.0,80634.87,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1
999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,1.0,1.0,A,S,S,KFC,N,1.0,28.0,MADRID,1.0,57818.46,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1
999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,1.0,1.0,A,S,N,KFC,N,1.0,11.0,CADIZ,1.0,85903.44,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1

In [12]:
data[data.Customer_ID.duplicated(keep = False)]

,Unnamed: 0,Date,Customer_ID,Employee_Index,Country,Gender,Age,First_Contact,New_Customer_Index,Customer_Seniority,Relation_Type,Last_DatePC,Customer_Type_Month_Beg.,Relation_Type_Month_Beg,Residence_Index,Foreigner_Index,Spouse_Index,Channel_Join,Deceased_Index,Address_Type,Province_Code,Province_Name,Activity_Index,Gross_Income_Household,Saving_Account,Guarantees,Current_Accounts,Derivada_Account,Payroll_Account,Junior_Account,Más_particular_Account,particular_Account,particular_Plus_Account,Short-term_Deposits,Medium-term_Deposits,Long-term_Deposits,e-account,Funds,Mortgage,Pension,Loans,Taxes,Credit_Card,Securities,Home_Account,Payroll,Pensions,Direct_Debit
102614,102614,2015-01-28,878572,N,ES,H,26,2010-05-17,0.0,62,1.0,NaN,1.0,A,S,N,NaN,KFA,N,1.0,28.0,MADRID,1.0,202369.11,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,0
102615,102615,2015-01-28,878579,N,ES,V,41,2010-05-17,0.0,62,1.0,NaN,1.0,I,S,N,NaN,KAT,N,1.0,28.0,MADRID,0.0,80918.61,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
102616,102616,2015-01-28,878580,N,ES,H,36,2010-05-17,0.0,62,1.0,NaN,1.0,A,S,N,NaN,KAT,N,1.0,23.0,JAEN,1.0,NaN,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0.0,0.0,1
102617,102617,2015-01-28,878581,N,ES,V,40,2010-05-17,0.0,62,1.0,NaN,1.0,A,S,S,NaN,KFC,N,1.0,28.0,MADRID,1.0,195103.32,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
102618,102618,2015-01-28,878582,N,ES,V,59,2010-05-17,0.0,62,1.0,NaN,1.0,A,S,N,NaN,KAT,N,1.0,28.0,MADRID,1.0,136914.96,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,28.0,MADRID,1.0,55516.98,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,15.0,"CORUÑA, A",1.0,75654.84,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,15.0,"CORUÑA, A",1.0,80634.87,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,S,NaN,KFC,N,1.0,28.0,MADRID,1.0,57818.46,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,11.0,CADIZ,1.0,85903.44,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1

In [13]:
data.drop(columns = ['Unnamed: 0', 'Pensions', 'Spouse_Index', 'Last_DatePC'], inplace = True)

In [14]:
data.head()

,Date,Customer_ID,Employee_Index,Country,Gender,Age,First_Contact,New_Customer_Index,Customer_Seniority,Relation_Type,Customer_Type_Month_Beg.,Relation_Type_Month_Beg,Residence_Index,Foreigner_Index,Channel_Join,Deceased_Index,Address_Type,Province_Code,Province_Name,Activity_Index,Gross_Income_Household,Saving_Account,Guarantees,Current_Accounts,Derivada_Account,Payroll_Account,Junior_Account,Más_particular_Account,particular_Account,particular_Plus_Account,Short-term_Deposits,Medium-term_Deposits,Long-term_Deposits,e-account,Funds,Mortgage,Pension,Loans,Taxes,Credit_Card,Securities,Home_Account,Payroll,Direct_Debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,1.0,A,S,N,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,I,S,S,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,I,S,N,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,1.0,I,S,N,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0

In [15]:
data.New_Customer_Index.value_counts()

0.0    988734
1.0       484
Name: New_Customer_Index, dtype: int64

In [16]:
data[data.New_Customer_Index == 1.0]

,Date,Customer_ID,Employee_Index,Country,Gender,Age,First_Contact,New_Customer_Index,Customer_Seniority,Relation_Type,Customer_Type_Month_Beg.,Relation_Type_Month_Beg,Residence_Index,Foreigner_Index,Channel_Join,Deceased_Index,Address_Type,Province_Code,Province_Name,Activity_Index,Gross_Income_Household,Saving_Account,Guarantees,Current_Accounts,Derivada_Account,Payroll_Account,Junior_Account,Más_particular_Account,particular_Account,particular_Plus_Account,Short-term_Deposits,Medium-term_Deposits,Long-term_Deposits,e-account,Funds,Mortgage,Pension,Loans,Taxes,Credit_Card,Securities,Home_Account,Payroll,Direct_Debit
5883,2015-01-28,1044472,N,ES,V,32,2012-08-06,1.0,1,1.0,1.0,A,S,N,KHM,N,1.0,8.0,BARCELONA,1.0,105936.51,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0
6579,2015-01-28,1042486,N,ES,H,23,2012-08-03,1.0,4,1.0,1.0,I,S,N,KAT,N,1.0,39.0,CANTABRIA,1.0,79016.64,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
6632,2015-01-28,1042509,N,ES,V,20,2012-08-03,1.0,3,1.0,1.0,I,S,N,KHO,N,1.0,28.0,MADRID,1.0,115323.60,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
6717,2015-01-28,1042950,N,ES,V,30,2012-08-03,1.0,1,1.0,1.0,A,S,N,KHM,N,1.0,37.0,SALAMANCA,0.0,135663.84,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
20792,2015-01-28,1023793,N,ES,V,23,2012-07-17,1.0,5,1.0,1.0,I,S,N,KHK,N,1.0,45.0,TOLEDO,0.0,93426.06,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982044,2015-02-28,1158100,N,ES,V,45,2015-02-05,1.0,5,1.0,1.0,A,S,N,KHK,N,1.0,28.0,MADRID,0.0,92851.29,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
984577,2015-02-28,1155205,N,ES,H,25,2013-08-03,1.0,4,1.0,1.0,I,S,N,KAT,N,1.0,49.0,ZAMORA,1.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
987650,2015-02-28,1163520,N,ES,H,22,2013-08-12,1.0,2,1.0,1.0,I,S,N,KAT,N,1.0,46.0,VALENCIA,1.0,31212.78,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
990051,2015-02-28,1160549,N,ES,V,55,2015-02-20,1.0,5,1.0,1.0,A,S,N,KAT,N,1.0,45.0,TOLEDO,1.0,124992.21,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
993869,2015-02-28,1140110,N,ES,H,52,2013-07-08,1.0,5,1.0,1.0,A,S,N,KHK,N,1.0,17.0,GIRONA,1.0,207276.15,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0

In [26]:
data.columns

Index(['Date', 'Customer_ID', 'Employee_Index', 'Country', 'Gender', 'Age',
       'First_Contact', 'New_Customer_Index', 'Customer_Seniority',
       'Relation_Type', 'Customer_Type_Month_Beg.', 'Relation_Type_Month_Beg',
       'Residence_Index', 'Foreigner_Index', 'Channel_Join', 'Deceased_Index',
       'Address_Type', 'Province_Code', 'Province_Name', 'Activity_Index',
       'Gross_Income_Household', 'Saving_Account', 'Guarantees',
       'Current_Accounts', 'Derivada_Account', 'Payroll_Account',
       'Junior_Account', 'Más_particular_Account', 'particular_Account',
       'particular_Plus_Account', 'Short-term_Deposits',
       'Medium-term_Deposits', 'Long-term_Deposits', 'e-account', 'Funds',
       'Mortgage', 'Pension', 'Loans', 'Taxes', 'Credit_Card', 'Securities',
       'Home_Account', 'Payroll', 'Direct_Debit'],
      dtype='object')

In [27]:
data.Relation_Type.value_counts()

1.0     988117
99.0      1101
Name: Relation_Type, dtype: int64

In [25]:
data.Employee_Index.unique()

array(['N', nan, 'A', 'B', 'F', 'S'], dtype=object)

In [ ]:
Obs: 484 new customers
    some customers are dead
    Last_Date PC, spouse has lot of missing values
    Unnamed is not needed
    Only 2 dates (2015-01-28    '625457' and 2015-02-28 '374543')